{% extends 'main/base.html'%}

{% block title %}
Ввод кругов
{% endblock %}

{% block content %}
    <h1>Введите данные круга</h1>
    <form method='post'>
        {% csrf_token %}
        {{ form.x}}<br>
        {{ form.y}}<br>
        {{ form.r}}<br>
        {% if user.is_authenticated%}
        <button type="submit" style="margin: 10px 0px" >Добавить</button>
        {%else%}
        <button type="submit" style="margin: 10px 0px" disabled >Добавить</button>
        {%endif%}
    </form>
{% endblock %}

